package {
    name "microui" 
    author "Brendan Hansen" 
    url "https://github.com/onyx-lang/pkg-microui" 
    description "Port of MicroUI found at github.com/rxi/microui" 
    version "0.0.5" 
}

config {
    dependency_source_path "./lib" 
    dependency_binary_path "./bin" 
}

lsp {
    mode "project" 
    working_dir "./example" 
    source_files "demo" 
}

